:root {
  --background-color: #eeeded;
  --navbar-color: #ffff;
  --navbar-link-color: #5f19e0;
  --navbar-link-hover-color:#e01923;
  --navbar-button-color: #5f19e0;
  --navbar-button-font-color: #ffff;
  --primary-panel-color: #ffff;
  --input-box-border-color: #5f19e0;
}