.user-manage-container {
    width: 100%;
    min-height: 98vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-container{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input {
    width: 80%;
    height: 4vh;
}

table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}