.left-nav-container{
    height: 100%;
    width: 20vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: auto;
    margin: 0;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.nav-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.nav-button{
    width: 90%;
    height: 50px;
    margin: 10px 0;
}

.profile-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.profile-link-button, .profile-logout-button{
    width: 90%;
    height: 50px;
    margin: 10px 0;
}
