.navbar-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.logo-container .logo{
    height: 50px;
    width: auto;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

a.navbar-link{
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px ;
    text-decoration: none;
    color: var(--navbar-link-color);
}

a:hover{
    color: var(--navbar-link-hover-color);
    
}

.current-user-button-container{
    margin-right: 20px;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center; 
    margin:0 20px;
}

.login-button{
    background-color: var(--navbar-button-color);
    color: var(--navbar-button-font-color);
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.get-started-button{
    background-color: var(--navbar-button-color);
    color: var(--navbar-button-font-color);
    padding: 10px 20px;
    border-radius: 5px;
    width: 150px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.profile-link-button{
    background-color: var(--navbar-button-color);
    color: var(--navbar-button-font-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    height: 50px;
}

.mode-link-button{
    background-color: var(--navbar-button-color);
    color: var(--navbar-button-font-color);
    padding: 10px 20px;
    border-radius: 5px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.profile-logout-button{
    background-color: red;
    color: var(--navbar-button-font-color);
    padding: 10px 20px;
    border-radius: 5px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}



